/autostart
/btop
/cachyos
/dconf
/GIMP
/go
/gtk-3.0
/gtk-4.0
/helix
/herdr
/micro
/mozilla
/mpv
/nautilus
/net.imput.helium
/nwg-look
/obs-studio
/pulse
/shelly
/snappy-switcher
/systemd
/waypaper
/xsettingsd
/zed

cachyos-hello.json
gwenviewrc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
